#include "/home/kg/.colors/erosion"

! #########################################
urxvt*perl-lib:			/usr/lib/urxvt/perl
urxvt*perl-ext-common:		default,matcher,clipboard 
urxvt*perl-matcher: 		1
urxvt*matcher-button: 		1
urxvt*urlLauncher:		/usr/bin/firefox
urxvt*cursorUnderline: 1
urxvt*letterspace: -5
urxvt*cursorBlink:		true
urxvt*scrollBar:		false
urxvt*depth:			33 
urxvt*internalBorder: 		10

!URxvt.keysym.C-7: command:\033]710;-*-uushi-medium-r-normal-*-*-*-*-*-*-*-*-*\007\033]711;-*-uushi-medium-r-normal-*-*-*-*-*-*-*-*-*\007
!URxvt.keysym.C-8: command:\033]710;-*-gohufontmod11-medium-r-normal-*-*-*-*-*-*-*-*-*\007\033]711;-*-gohufontmod-medium-r-normal-*-*-*-*-*-*-*-*-*\007
!URxvt.keysym.C-9: command:\033]710;-*-limey-*-*-*-*-*-*-*-*-*-*-*-*\007\033]711;-*-limey-*-*-*-*-*-*-*-*-*-*-*-*\007
!URxvt.keysym.C-0: command:\033]710;-*-lemon-*-*-*-*-*-*-*-*-*-*-*-*\007\033]711;-*-lemon-*-*-*-*-*-*-*-*-*-*-*-*\007
!URxvt.keysym.C-minus: command:\033]710;-*-tewi-medium-r-normal-*-*-*-*-*-*-*-*-*\007\033]711;-*-tewi-medium-r-normal-*-*-*-*-*-*-*-*-*\007
!URxvt.keysym.C-equal: command:\033]710;xft:inconsolata:size=8\007\033]711;xft:inconsolata:size=8\007

urxvt*font: -*-terminus-medium-r-normal-*-12-*-*-*-*-*-*-*
urxvt*boldFont: -*-terminus-bold-r-normal-*-12-*-*-*-*-*-*-*
urxvt*italicFont: -*-terminus-medium-r-normal-*-12-*-*-*-*-*-*-*
urxvt*bolditalicFont: -*-terminus-bold-r-normal-*-12-*-*-*-*-*-*-*

!urxvt*font: -*-terminus-medium-r-normal-*-11-*-*-*-*-*-*-*
!urxvt*boldFont: -*-terminus-medium-r-normal-*-11-*-*-*-*-*-*-*
!urxvt*italicFont: -*-terminus-medium-r-normal-*-11-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-terminus-medium-r-normal-*-11-*-*-*-*-*-*-* 

!urxvt*font: -*-lemon-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*boldFont: -*-lemon-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*italicFont: -*-lemon-*-*-*-*-*-*-*-*-*-*-*-*
!urxvt*bolditalicFont: -*-lemon-*-*-*-*-*-*-*-*-*-*-*-*

Xft.dpi:	96
Xft.rgba:	rgb
Xft.antialias: 	1
Xft.hinting: 	1
Xft.autohint: 	0
Xft.hintstyle: 	hintslight
Xft.lcdfilter: 	lcddefault

xclock*majorColor: #9a875f
xclock*minorColor: #9a875f
xclock*minuteColor: #9a875f
xclock*hourColor: #9a875f
xclock*secondColor: #9a875f

